@{
    ViewData["Title"] = "login";
}
@*@{
        Layout = "";
    }*@
@*<style>
        #divTag{
            background-color:darkseagreen;
            width:100%;
            height:100%;
        }
        #tbl{
            padding:10% 30%;
        }
    </style>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnLogin").click(function () {
            var login = {
                UserID: $("#txtUserID").val(),
                Password: $("#txtPasword").val(),
            };
            $.getJSON("/User/UserLogin", login, function (data) {
               // alert(data);
                //data = JSON.parse(data);
                if (data == 1) {
                    alert("Login Success");
                    window.location.href = '/User/Welcome/';
                } else {
                    //alert(data);
                    alert("Check your User ID and Password");
                }
            });
        });
    });
</script>
<div id="divTag">
    <table id="tbl" class="table table-bordered">
        <tr>
            <td align="justify">
                @Html.Partial("View")


            </td>
            <td>
                <table class="table  table-striped">
                    <tr>
                        <th colspan="2" align="justify"> Login</th>
                    </tr>
                    <tr>
                        <th align="right">User ID</th>
                        <td>
                            <input id="txtUserID" type="text" class="form-control" placeholder="Enter User ID" required />
                        </td>

                    </tr>
                    <tr>
                        <th align="right">Password</th>
                        <td>
                            <input id="txtPasword" type="password" class="form-control" placeholder="Enter Password" required />
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <input type="button" id="btnLogin" value="Login" />
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

</div>
