<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if (txtChkValidation('txtNewpwd') == true && txtChkValidation('txtConfirmpwd') == true) {
                var newpwd = $("#txtNewpwd").val();
                var confpwd = $("#txtConfirmpwd").val();
                if (newpwd == confpwd && newpwd != "") {
                    var data = {
                        Password: newpwd,
                        ConfirmPassword: confpwd,
                    };
                    $.post("/User/ChangePwd", data, function (data) {
                        data = JSON.parse(data);
                        alert("Updated Password");
                    });
                } else {
                    alert("New Password does not match with Confirm Password!");
                }
            } else {
                txtChkValidation('txtNewpwd');
                txtChkValidation('txtConfirmpwd')
            }
            });


    });
</script>

<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="2" align="justify">
                <h3>Change Your Paswword</h3>
            </th>
        </tr>
        <tr>
            <th>
                Current Password
            </th>
            <td>
                <input type="text" id="txtpwd" value="@ViewBag.pwd " readonly />
            </td>
        </tr>
        <tr>
            <th>
                New Password
            </th>
            <td>
                <input type="password" id="txtNewpwd" onkeypress="txtChkValidation('txtNewpwd')" />
            </td>
        </tr>
        <tr>
            <th>
                Confirm Password
            </th>
            <td>
                <input type="password" id="txtConfirmpwd" onkeypress="txtChkValidation('txtConfirmpwd')" />
            </td>
        </tr>
        <tr>
            <th>

            </th>
            <td>
                <input type="button" value="Submit" id="btnSubmit" />
            </td>
        </tr>
    </table>
</div>
