<div>
    <table class="table  table-striped">
        <tr>
            <th colspan="2" align="justify">
                <h3>WelCome :- @ViewBag.userName </h3>
            </th>
        </tr>
        <tr>
            <th>
                Your Phone No.:-
            </th>
            <td>
                @ViewBag.Phone
            </td>
        </tr>
        <tr>
            <th>
                Your email:-
            </th>
            <td>
                @ViewBag.email
            </td>
        </tr>
    </table>
</div>
